@using FrFinder.Models;

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wpkixx.com/html/pitnik/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Feb 2022 09:25:20 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/main.min.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/toast-notification.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/page-tour.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/style.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/color.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/responsive.css">

</head>
<body>
    <div class="theme-layout">
        <div class="postoverlay"></div>

        <!-- topbar -->
        @RenderPage("~/Views/Home/Topbar.cshtml");
        <!-- topbar -->

        <!--Rigth Side Bar Chat - Friend List-->
        @RenderPage("~/Views/Home/Rightbar.cshtml");
        <!--/Rigth Side Bar Chat - Friend List-->

        <!--Lefft Side Bar Pages Menu-->
        @RenderPage("~/Views/Home/Leftbar.cshtml");
        <!--/Left Side Bar Pages Menu-->

        <!--CONTENT-->
        @RenderBody();
        <!--CONTENT-->

        <!--Footer-->
        @RenderPage("~/Views/Home/Bottombar.cshtml");
        <!--Footer-->
    </div>
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/main.min.js"></script>
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/jquery-stories.js"></script>
    <script src="../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/locationpicker.jquery.js"></script><!-- for loaction picker map -->
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/map-init.js"></script><!-- map initilasition -->
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/script.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#us3').locationpicker({
                location: {
                    latitude: -8.681013,
                    longitude: 115.23506410000005
                },
                radius: 0,
                inputBinding: {
                    latitudeInput: $('#us3-lat'),
                    longitudeInput: $('#us3-lon'),
                    radiusInput: $('#us3-radius'),
                    locationNameInput: $('#us3-address')
                },
                enableAutocomplete: true,
                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    // Uncomment line below to show alert on each Location Changed event
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                }
            });

            if ($.isFunction($.fn.toast)) {
                $.toast({
                    heading: 'Welcome To Pitnik',
                    text: '',
                    showHideTransition: 'slide',
                    icon: 'success',
                    loaderBg: '#fa6342',
                    position: 'bottom-right',
                    hideAfter: 3000,
                });

                $.toast({
                    heading: 'Information',
                    text: 'Now you can full demo of pitnik and hope you like',
                    showHideTransition: 'slide',
                    icon: 'info',
                    hideAfter: 5000,
                    loaderBg: '#fa6342',
                    position: 'bottom-right',
                });
                $.toast({
                    heading: 'Support & Help',
                    text: 'Report any <a href="#">issues</a> by email',
                    showHideTransition: 'fade',
                    icon: 'error',
                    hideAfter: 7000,
                    loaderBg: '#fa6342',
                    position: 'bottom-right',
                });
            }

        });
    </script>

</body>

<!-- Mirrored from wpkixx.com/html/pitnik/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Feb 2022 09:25:27 GMT -->
</html>
